body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.game-area {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (min-device-width: 1024px) {
  .game-area {
    height: 100vh;
  }
}

.card-area {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 10vh;
  height: 10vh;
  font-size: 10vh;

  margin-right: 1.5vh;
  margin-bottom: 1.5vh;

  display: flex;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-width: 0.5vh;
  border-radius: 10%;
}

.controll-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: fit-content;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #AAAAAA;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  font-size: min(calc((1vw - 1vh) * 15), 5vh);
  white-space: pre;

  user-select: none;
}

.button:hover {
  cursor: pointer;
}

.number-circle {
  background-color: #0074D9;
  width: 17vh;
  height: 17vh;

  padding: 5%;
  margin-top: 30vh;
  margin-bottom: 10vh;

  font-size: 15vh;

  display: flex;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-width: 0.7vh;
  border-radius: 50%;
}